* {
    cursor: help;
}

html {
    overflow-y: scroll;
    font-size: calc(9px + (26 - 9) * ((100vw - 300px) / (3000 - 300)));
    line-height: 1.5rem;
}

.frame {
    display: grid;
    grid-template-columns: auto 13vw minmax(auto, 90vh) 9vw;
    grid-template-rows: 4.7vh auto auto 4.7vh;
}

.main-header-container {
    grid-column: 2 / 3;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 4.7vh;
    justify-self: end;
    align-self: end;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.main-header {
    white-space: nowrap;
    padding-left: 0.7vw;
}

.intro {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: right;
    padding-right: 0.7vw;
    margin-top: 90vh;
    margin-bottom: 0.5vh;
}

.side-header-container {
    position: fixed;
    right: 7.5vw;
    bottom: 7vh;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.side-header {
    white-space: nowrap;
}

.main-image-container {
    grid-column: 3 / 4;
    z-index: -1;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 4.7vh;
}

.main-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-image {
    width: 100%;
    max-height: auto;
    opacity: 90%;
    transition: filter 500ms;
    filter: blur(10%);
}

.nav-container {
    grid-column: 4 / 5;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 4.7vh;
    padding-left: 0.5vw;
}

nav {
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    z-index: 1;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    color: #565050;
}

h2 {
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
    font-size: 2.1em;
    letter-spacing: 0.23em;
    color: #565050;
    margin: 0;
}

p,
.body {
    font-family: "Roboto", sans-serif;
    color: #737171;
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
}

a,
a:visited {
    text-decoration: line-through;
    color: #565050;
    text-align: left;
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
    opacity: 50%;
}

a.current,
li.active a {
    text-decoration: none;
}

.projects {
    text-align: center;
    width: 95%;
}

.project {
    padding-top: 1em;
    padding-bottom: 9em;
}

.project-nav-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20vh;
    grid-column: 2 / 3;
    text-align: right;
    padding-right: 1em;
}

.projects-container {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 100%;
}

.projects-main-header {
    text-align: center;
    padding-bottom: 3em;
}

.project-content {
    width: 85%;
    margin: auto;
}

.project h2 {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.project img {
    //float: right;
    max-width: 55%;
    width: auto;
    height: auto;
    //margin: 0 0 0 0.5em;
}

.project a {
    text-decoration: underline;
}

section {
    margin: 1px;
}

.active {
    text-decoration: none;
}

.cv-container {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 100%;
}

.cv-svg {
    width: 100%;
}

.contact-container {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    height: 90vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    text-align: right;
}

.contact-container h2 {
    padding-bottom: 1vh;
}

.contact-content {
    padding-top: 30vh;
    margin: 0 auto;
}

.contact {
    padding-bottom: 3vh;
}

.contact a:visited {
    color: #737171;
}

.contact a:hover {
    opacity: 50%;
}

.find-me,
.get-in-touch {
    padding-right: 0.7em;
}

@media screen and (max-aspect-ratio: 15/13) {
    //html {
    //    background-color: rgb(219, 161, 161);
    //}

    .frame {
        grid-template-columns: auto 7vw minmax(auto, 80vh) 9vw;
    }

    .main-header-container {
        align-self: start;
    }

    .intro {
        width: 60%;
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        justify-self: end;
        padding: 0;
    }
}

@media screen and (max-aspect-ratio: 14/15), (max-width: 800px) {
    //html {
    //    background-color: rgb(179, 243, 243);
    //}

    .frame {
        grid-template-columns: auto 7vw auto 9vw;
    }

    .main-header-container {
        align-self: start;
    }

    .intro {
        width: 60%;
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        justify-self: end;
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    .project img {
        max-width: 90%;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 640px) {
    //html {
    //    background-color: rgb(198, 177, 218);
    //}

    .frame {
        display: grid;
        grid-template-columns: auto 7% 88% 5%;
        grid-template-rows: 15vh auto fit-content(100%);
    }

    .nav-container {
        right: -15.5vw;
        top: 12vh;
    }

    .nav-container li {
        transform: rotate(-90deg);
        transform-origin: 0% 0%;
        text-align: center;
        margin-bottom: 20vh;
    }

    #hide {
        display: none;
    }

    .project-nav-container li {
        transform: rotate(-90deg);
        transform-origin: 0% 0%;
        text-align: center;
        margin-bottom: 5vh;
    }

    .intro {
        text-align: left;
        justify-self: start;
    }

    .project p {
        width: 100%;
    }

    .contact-content {
        padding-top: 10vh;
    }
}
