* {
    cursor: help;
}

html {
    overflow-y: scroll;
    font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (2500 - 300)));
    line-height: 1.3;
}

.frame {
    display: grid;
    grid-template-columns: auto 17vw minmax(auto, 90vh) 10vw;
    grid-template-rows: 5vh auto auto 5vh;
}

.index {
    grid-template-rows: 5vh minmax(auto, 90vh) auto 5vh;
}

.main-header-container {
    grid-column: 2 / 3;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 5vh;
    justify-self: end;
    align-self: end;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.main-header {
    white-space: nowrap;
    padding-left: 0.5rem;
}

.intro {
    grid-column: 2 / 3;
    text-align: right;
    padding-right: 0.5rem;
    margin-top: 90vh;
    margin-bottom: 0.5vh;
}

.side-header-container {
    position: fixed;
    right: 7.5vw;
    bottom: 7vh;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.side-header {
    white-space: nowrap;
}

.main-image-container {
    grid-column: 3 / 4;
    z-index: -1;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 5vh;
}

.main-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-image {
    width: 100%;
    max-height: auto;
    opacity: 90%;
    transition: filter 500ms;
    filter: blur(10px);
}

.nav-container {
    grid-column: 4 / 5;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 5vh;
    padding-left: 0.5rem;
}

nav {
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
    letter-spacing: 0.1em;
    z-index: 1;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    color: #565050;
}

h2 {
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
    letter-spacing: 0.23em;
    color: #565050;
    margin: 0;
}

p,
.body {
    font-family: "Roboto", sans-serif;
    color: #737171;
    font-weight: normal;
    margin: 0;
}

p a,
p a:visited {
    text-decoration: underline;
    color: #1eaedb;
}

a,
a:visited {
    text-decoration: line-through;
    color: #565050;
    text-align: left;
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
    opacity: 50%;
}

a.current,
li.active a {
    text-decoration: none;
}

.project-nav-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20vh;
    grid-column: 2 / 3;
    text-align: right;
    padding-right: 1em;
    direction: rtl;
    white-space: nowrap;
}

.projects-container {
    display: flex;
    flex-direction: column;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 100%;
}

.projects-main-header {
    padding-bottom: 3em;
}

.projects {
    width: 95%;
}

.project {
    padding-top: 2em;
    padding-bottom: 9em;
}

.project h2 {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.project-content {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.project-content p {
    text-align: justify;
    width: 65%;
}

.project .image-container {
    display: flex;
    justify-content: flex-end;
}

.project .link {
    align-self: flex-end;
    padding-right: 3rem;
    padding-left: 1rem;
    padding-bottom: 0.2rem;
}

.project img {
    max-width: 63%;
    width: auto;
    height: auto;
}

.project a,
.project a:visited {
    font-family: "Roboto", sans-serif;
    color: #1eaedb;
    text-decoration: underline;
}

.project .right {
    align-self: flex-end;
    text-align: right;
}

.project .left {
    align-self: flex-start;
    text-align: left;
}

section {
    margin: 1px;
}

.active {
    text-decoration: none;
}

.cv-container {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 100%;
}

.cv-svg {
    width: 100%;
}

.contact-container {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    height: 90vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    text-align: right;
}

.contact-container h2 {
    padding-bottom: 1vh;
}

.contact-content {
    padding-top: 30vh;
    margin: 0 auto;
}

.contact {
    padding-bottom: 3vh;
}

.contact a:visited {
    color: #737171;
}

.contact a:hover {
    opacity: 50%;
}

.find-me,
.get-in-touch {
    padding-right: 0.7em;
}

@media screen and (max-aspect-ratio: 16/13) {
    .frame {
        grid-template-columns: auto 17vw minmax(auto, 80vh) 10vw;
    }

    .index {
        grid-template-rows: 5vh minmax(auto, 80vh) auto 15vh;
    }
}

@media screen and (max-aspect-ratio: 15/14) {
    .frame {
        grid-template-columns: auto 17vw minmax(auto, 70vh) 10vw;
    }

    .index {
        grid-template-rows: 5vh minmax(auto, 70vh) auto 25vh;
    }
}

@media screen and (max-aspect-ratio: 15/16), (max-width: 800px) {
    .frame {
        grid-template-columns: auto 5vw minmax(auto, 60vh) 10vw;
    }

    .index {
        grid-template-rows: 5vh minmax(auto, 60vh) auto 10vh;
    }

    .intro {
        max-width: 50%;
        margin-top: 120%;
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        justify-self: end;
        padding: 0;
        margin-bottom: 0;
    }

    .project-nav-container {
        top: 0vh;
        padding-left: 1rem;
        direction: ltr;
        height: 100vh;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    }

    .project-nav-container::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    #project-nav {
        padding-right: 1rem;
        margin-top: 16vh;
        margin-bottom: 5vh;
    }

    .project-nav-container li {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        text-align: center;
        margin-top: 5vh;
    }
}

@media screen and (max-width: 800px) {
    .project .image-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .project .link {
        align-self: flex-start;
        padding-top: 1rem;
    }

    .project img {
        max-width: 90%;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 640px) {
    .frame {
        grid-template-columns: auto 7vw 87vw 6vw;
    }

    .index {
        grid-template-rows: 25vh 87vw auto 5vh;
    }

    .main-header-container {
        margin-top: 30vh;
        top: 15vh;
    }

    .main-image-container {
        margin-top: 25vh;
        top: 15vh;
    }

    .nav-container {
        top: 15vh;
    }

    .nav-container li {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        text-align: center;
        margin-bottom: 10vh;
    }

    .intro {
        max-width: 80%;
    }

    #hide {
        display: none;
    }

    .project-nav-container {
        direction: ltr;
    }

    .projects-container {
        align-items: center;
    }

    .project-content {
        width: 100%;
    }

    .project p {
        width: 95%;
    }

    .contact-content {
        padding-top: 20vh;
    }
}
